@model IEnumerable<WebApplication1.ViewModels.AppVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Apps</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.AppID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AppID })
            </td>
        </tr>
}
    </tbody>
</table>
